<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="/images/logo.png">
    </div><div class="right">
      <h2 class="vue">***.js</h2>
      <h1>
        开源地图类库
      </h1>
      <p>
        <a class="button" href="/guide/2-index">起步</a>
        <a class="button white" href="https://github.com/aurorafe/HMap" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">
    <div class="point">
      <h2>开发初衷</h2>
      <p>为了解决项目中类库版本不统一，方法重复和代码兼容性问题，还对一些GIS常用业务模型进行封装，解决快速开发问题。</p>
    </div>
    <div class="point">
      <h2>优点</h2>
      <p>和原生openlaye相比，减少代码量，业务逻辑清晰</p>
    </div>
    <div class="point">
      <h2>缺点</h2>
      <p>第一：可定制性和原生相比略微复杂；</p>
      <p>第二：项目处于初期，暴露的bug可能比较多，文档相关不完善（正在积极解决问题和完善文档）</p>
    </div>
  </div>
</div>

<div id="footer">
  遵循 <a href="https://opensource.org/licenses/MIT" href="_blank">MIT 开源协议</a><br>
  Copyright &copy; 2016-<%- new Date().getFullYear() %> Evan You
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
