<div class="sidebar">
  <ul class="main-menu">
    <%- partial('partials/main_menu', { context: 'sidebar' }) %>
  </ul>
</div>

<div id="hero">
  <div class="inner">
    <div class="left">
      <img class="hero-logo" src="/images/logo.jpg">
    </div><div class="right">
      <h2 class="vue">***.js</h2>
      <h1>
        开源地图类库
      </h1>
      <p>
        <a class="button" href="/guide/2-index">起步</a>
        <a class="button white" href="https://github.com/hdsxtech/HMap" target="_blank">GITHUB</a>
      </p>
    </div>
  </div>
</div>

<div id="highlights">
  <div class="inner">


    <div class="point">
      <h2>易用</h2>
      <p>只需要简单的配置就能构建自己的地图！</p>
    </div>

    <div class="point">
      <h2>灵活</h2>
      <p>多种方式使用，兼容各种地图和坐标系，允许自定义控件。</p>
    </div>    

    <div class="point">
      <h2>强大</h2>
      <p>
        基于openlayer4封装，参考mapbox实现样式配置式管理。
      </p>
    </div>
  </div>
</div>

<div id="footer">
  遵循 <a href="https://opensource.org/licenses/MIT" href="_blank">MIT 开源协议</a><br>
  Copyright &copy; 2014-<%- new Date().getFullYear() %> Evan You
</div>

<script>
var topScrolled = false
window.addEventListener('scroll', function () {
  if (window.pageYOffset > 165 && !topScrolled) {
    topScrolled = true
    document.getElementById('mobile-bar').classList.remove('top')
  } else if (window.pageYOffset <= 165 && topScrolled) {
    topScrolled = false
    document.getElementById('mobile-bar').classList.add('top')
  }
})
</script>
